* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.main {
  background-color: #23e7e3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

